<!DOCTYPE html>
<html lang="en">
<head>
  <title>Arduino</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>
<body>

<div class="jumbotron text-center">
  <h1><%= link_to 'LED Panel Control Page', root_path %></h1>
  <p>Illuminate the world!</p>
</div>

<%= yield %>

</body>
</html>
